body, html
{
	background-color: #B0C4DE
 !important;
}

.intro
{
	text-align: center;
	padding-top: 13%;
	padding-bottom: 13%;
	margin-bottom: 50px;
  background-image: url("https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/13406815_1399119740114933_1898166086309409816_n.jpg?oh=3d9573d7303d8d64ea9af9b6fc5648e7&oe=58F3C1FF");
background-size: 100%;
}


.container {
  border: 1px solid #fff;

  ul {
    display: block;
    float: left;
    width: 100%;
  }

  li {
    box-sizing: border-box;
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    padding-bottom: 33.3%;
    width: 33.3%;

    background-color: #000;
    border: 2px solid #fff;

    &:hover {
      h3 {
        opacity: 1;
        transition: all .3s ease-in-out .1s;
      }
      img {
        opacity: 1;
        transform: scale(1);
      }
    }

    h3 {
      position: absolute;
      left: 0px;
      min-height: 3em;
      padding: 15px;
      right: 0px;
      top: 0px;
      z-index: 10;

      background: linear-gradient(180deg, rgba(0, 0, 0, .65), rgba(0, 0, 0, 0));
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5em;
      opacity: 0;
      transition: all .3s ease-in-out;
}

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      max-height: 110%;
      max-width: 110%;
      opacity: .7;
      right: 0;
      top: 0;
      transform: scale(1.1);
      transition: all .3s ease-in-out;
      z-index: 0;
    }
  }
}
